@model FamilyMember


<div class="card rounded shadow p-4">
    <!-- Display patient  details -->
    <div class="row">
        <!-- Details and Navigation -->
        <div class="col-8 d-flex flex-column justify-content-between">
            <!-- Patient details -->
            <div>
                <h2 class="mb-4 text-primary">Family Details</h2>
                <dl class="row">  

                    <dt class="col-4 pb-1">Firstname</dt>
                    <dd class="col-8 pb-1">@Model.Firstname</dd>
                    <dt class="col-4 pb-1">Surname</dt>
                    <dd class="col-8 pb-1">@Model.Surname</dd>
                    <dt class="col-4 pb-1">MobileNumber</dt>
                    <dd class="col-8 pb-1">@Model.MobileNumber</dd>
                    <dt class="col-4 pb-1">EmailAddress</dt>
                    <dd class="col-8 pb-1">@Model.EmailAddress</dd>
                    <dt class="col-4 pb-1">PatientFamily</dt>
                    <dd class="col-8 pb-1">@Model.PatientFamily</dd>
                </dl>
            </div>
        </div>
    </div>    
</div>

