@model Patient

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Patients" asp-action="Index">Patients</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<h3>Patient Details</h3>
  <div class="card shadow rounded mt-4 p-3">

<div class="row">
        <h3 class="mb-4">@Model.Firstname   @Model.Surname  </h3>
        <dl class="row">              
                <dt class=col-sm-3>Id</dt>
                <dd class="col-sm-9">@Model.Id</dd>
                <dt class=col-sm-3>Title</dt>
                <dd class="col-sm-9">@Model.Title</dd>
                <dt class="col-sm-3">Firstname</dt>
                <dd class="col-sm-9">@Model.Firstname</dd>
                <dt class="col-sm-3">Surname</dt>
                <dd class="col-sm-9">@Model.Surname</dd>


                <dt class="col-sm-3">NationalInsuranceNo</dt>
                <dd class="col-sm-9">@Model.NationalInsuranceNo</dd>
                <dt class="col-sm-3">DOB</dt>
                <dd class="col-sm-9">@Model.DOB.ToShortDateString()</dd>
                <dt class="col-sm-3">Age</dt>
                <dd class="col-sm-9">@Model.Age</dd>
                <dt class="col-sm-3">Street</dt>
                <dd class="col-sm-9">@Model.Street</dd>
                <dt class="col-sm-3">Town</dt>
                <dd class="col-sm-9">@Model.Town</dd>


                <dt class="col-sm-3">County</dt>
                <dd class="col-sm-9">@Model.County</dd>
                <dt class="col-sm-3">Postcode</dt>
                <dd class="col-sm-9">@Model.Postcode </dd>
                <dt class="col-sm-3">MobileNumber</dt>
                <dd class="col-sm-9">@Model.MobileNumber </dd>
                <dt class="col-sm-3">HomeNumber</dt>
                <dd class="col-sm-9">@Model.HomeNumber </dd>


                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email </dd>
                <dt class="col-sm-3">GP</dt>
                <dd class="col-sm-9">@Model.GP </dd>
                <dt class="col-sm-3">SocialWorker</dt>
                <dd class="col-sm-9">@Model.SocialWorker </dd>
                <dt class="col-sm-3">CarePlan</dt>
                <dd class="col-sm-9">@Model.CarePlan </dd>
        </dl>
    <div>
         <!-- photo -->
        <div class="col-4">
              <img src= "@Model.PhotoUrl" class="img-fluid"> 
         </div>

         <!-- action options -->
    <div class="mt-4 mb-4"> 
               
        <a asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="bi bi-pen"></i>
            Edit Patient
        </a>  
        <a asp-controller="Patient" asp-action="Index" class="btn btn-primary"><i class="bi bi-list"></i>
            Patient List
        </a> 

        <a asp-controller="Patient" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary"><i class = "bi bi-trash"></i>
            Delete
        </a> 
      </div>


            
